/* This is an introdution and practice using CSS. */

body {
    background-color: #000;
    color: white;
    font-size: 21px;
}

p {
    color: white;
}

h1 {
    font-size: 70px;
    color: rgb(199, 3, 199);
}

/* "." means class*/

.chapter1 {
    color: #000;
}

.chapter2 {
    color: indigo;
}

.chapter3 {
    color: rgb(51, 3, 129);
}

.highlight {
    color: black;
}

.top-section {
    background-color: aqua;
}

.bottom-section {
    background-color: pink;
}

/* practice useing the css box model */

.box {
    background-color: aqua;
    width: 550px;
    padding-left: 5px;
}

.box2 {
    background-image: url(../img/meng-po.jpeg);
}