/* This is an introdution and practice using CSS. */

body {
    background-color: #000;
    color: white;
    font-size: 21px;
}

p {
    color: white;
}

h1 {
    font-size: 70px;
    color: rgb(199, 3, 199);
}

/* "." means class*/

.chapter1 {
    color: #000;
}

.chapter2 {
    color: indigo;
}

.chapter3 {
    /* glowing text effect with purple light edges */
    color: rgb(5, 0, 5);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(242, 4, 238),
    0 0 80px rgb(242, 4, 238),
    0 0 90px rgb(242, 4, 238),
    0 0 100px rgb(242, 4, 238),
    0 0 150px rgb(242, 4, 238);
}

.highlight {
    color: black;
}

.aqua-section {
    background-color: aqua;
}

.pink-section {
    background-color: pink;
}

/* practice useing the css box model */

.meng-po {
    background-image: url(../img/meng-po.jpg);
}

/* styling links */

a {
  color: blue;
  text-decoration: none;
}